
@font-face {
    font-family: 'Park Lane NF';
    src:url('../fonts/Park Lane NF.ttf') format('truetype');
}

@font-face {
    font-family: 'Onyx';
    src:url('../fonts/ufonts.com_onyx.ttf') format('truetype');
}

@font-face {
    font-family: 'Wolf in the City';
    src:url('../fonts/Wolf in the City.ttf') format('truetype');
}

body
{
    margin: 0;
    background-color: #9EB8EC;
}

.main
{
    width: 100%;
}

section
{
    text-align: center;
}

.fondBleu
{
    background-color: #9EB8EC;
}

.fondCreme
{
    background-color: #FFF2B0;
}

/*Page d accueil :*/
/*#accueil
{
    background-image: url(/ressources/fondEtoiles2.svg);
    background-size: cover;
}
*/
#accueil {
  margin:0;
  padding:0;
  background: url(/ressources/fondEtoiles3.svg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */
}


#top
{
    width: 100%;
    height: 5px;
    background-color: #4565E5;
}

#banniereCurriculumVitae
{
    position: absolute;
    z-index: 1;
    top:8%;
    left:0;
    width:100%;
}


#logoSite
{
    position:absolute;
    z-index: 2;
    top:18%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 15%;
}

#posteOccupe
{
    position:absolute;
    z-index: 1;
    top:55%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width: 25%;
}
/*
#piedAccueil
{
background-color: #FFF2B0;
margin:-5px;
width:100%;
height: 100%;
text-align: center;
}*/

h1
{
    padding:20px;
    font-family:"Wolf in the City";
    font-size:3em;
}


section > p
{
    font-size:1.5em;
}

/*

#intitule
{
margin-top : 70px;
width: 100%;
height: 150px;
background-color: #4565E5;
}

*/
.titreSection
{
    margin:0;
}

.sectionBlanche
{
    background-color: #abf5d7;
    width:100%;
    height: 100%;
}

.sectionBleue
{
    background-color: #868CEB;
    width:100%;
    height: 100%;
}

.sectionBlanche > h1
{
    /* color:#4565E5;*/
}

.sectionBleue > h1
{
    /*color:#FFF2B0;*/
}	


#situationActuelle
{

}

.titreSection
{
    width:100%;
}

#experiences
{


}

#experiences > h1
{

}


/* Page contact */
#formulaireEnvoiMail
{

    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

